{%   load staticfiles   %}

<html>

	<head>

		<title>		Gentleman Cadet's Blog 	</title>
	  <link rel="stylesheet" type="text/css" href="{%  static  'css/css2.css'  %}">



	</head>


	<body>


	<div id="main1">

		<div id="one">

			<a href="">
				<div id="div1" class="common">
					<p id="t1">	GC	</p>
				</div>
			</a>


			<a href="">
				<p id="t3">	Join		</p>
			</a>

			<a href="">
				<p id="t2">	Enter		</p>
			</a>


		</div>


		<div id="two" >

				<p id="p1">
					A Blog About World.
				</p>
				<p id="p1">
					A World Full Of Beautiful Algorithms.
				</p>

		</div>

		<a href="">
			<div id="three" class="common">

			<p id="p3">	START	</p>

			</div>
		</a>

	</div>



	<div id="main3" class="common">

		<div id="box1">

			<p id="pp2">	List Of All Blogs </p>

		</div>


    {%  for i in posts   %}

      <a href="">

		    <div class="sub1"  >

            <p class="newh">  {{   i.title    }}   </p>


		    </div>

      </a>

    {%  endfor  %}


	</div>





	</body>



</html>
